.main_container {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  display: flex;

  flex-wrap: wrap;

  justify-content: center;
  gap: 12px;
}
label {
  font-size: 20px;
}

input {
  display: block;
  width: 40%;
  font-size: 20px;
}

.instruction_container {
  width: 80%;
}
