.container {
  margin-top: 25px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: black;
}

.nav_links {
  white-space: nowrap;
  font-size: 25px;
  text-decoration: none !important;
}
.nav_links:hover {
  color: black;
}
.nav_links:visited {
  color: black;
}

/* selected link */
.nav_links:active {
  color: black;
}

@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }
}
