:root{
  --card-width:300px;
  --card-height:300px;
  --desc-height:200px;

}

img{
  width: 100%;
  height: calc(100% - var(--desc-height));
  object-fit: cover; /*magic*/
    }


.recipe_container{
  margin: 0 auto;
  max-width:1500px;
  width:90%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap: 30px;
}

.recipe_card{
  border-radius:12px 12px 0px 0px;
  overflow: hidden;
  

  width: var(--card-width);
  height: calc(var(--card-height) + var(--desc-height));

  position:relative;
}

.card_desc{
  position:absolute;
  top: var(--card-height);
  background-color:#e1fff4;
  width: var(--card-width);
  height:var(--desc-height);

  border-radius:0px 0px 12px 12px ;
  overflow: hidden;
}

.edit_btn{
  width:100%;
  height:20px;
  margin: 0 auto;   padding: 25px 0;
  text-align:center;
  text-justify:center;
  background-color:#58d6a7;
  border-radius:12px;
}
.edit_btn:hover{
  background-color:#3fa17c;
  cursor: pointer;

}.edit_btn:active{
  background-color:#2d7a5d;
  cursor: pointer;

}
